doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Download

  link(rel='stylesheet' href='Download.css')
  //- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='download.js')

.container0
  #clg_logo
    img(src='images/logo1.png' alt='logo')
  .first-rectangle
    h2(style='color: orange;') Kolhapur Institute of Technology&apos;s
    h2 Colloge of Engineering (Autonomous) Kolhapur
  .searchbar
    br
    br
    input(type='text' placeholder='Search..')
    button(type='submit')
      i.fa.fa-search
  .action__btns
    br
    br
    a.login(href='#') Download
#tableDiv
  table#table 
    tr 
      th Name
      th E-mail
      th Department
      th Contact Number
      th Download
     
      each x in userdata 
        tr
          td= x.name
          td= x.email
          td= x.dept
          td= x.phone
          td
            //- button(onclick=`sendData('${JSON.stringify(x)}')`) Download
            //- form(action="/download" method="post")
            //-   input(type="hidden" name="jsonData" id="jsonDataField")
            //-   button(type="submit" onclick=`jsonD('${JSON.stringify(x)}')`) Submit
            button(onclick=`jsonD('${JSON.stringify(x)}')`) click
            a(id="getAnchor" href="/downloadFile") d
