doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Remove User
  link(rel='stylesheet' href='Remove.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  

.container0
  #clg_logo
    img(src='images/logo1.png' alt='logo')
  .first-rectangle
    h2(style='color: orange;') Kolhapur Institute of Technology&apos;s
    h2 College of Engineering (Autonomous) Kolhapur
  .action__btns
    br
    br
    button.login#homeBtn Home
    a#homeAnchor(href='adminHome')

#tableDiv
  table#table 
    tr 
      th Name
      th E-mail
      th Department
      th Contact Number
      th Download
     
      each x in userdata 
        tr
          td= x.name
          td= x.email
          td= x.dept
          td= x.phone
          td
            form(id="form" action="/removeUser" method="post")
              input(type="hidden" name="jsonData" id="jsonDataField")
              input(type="hidden" name="token" id="RemoveToken")
            button#submit(onclick=`jData(${JSON.stringify(x._id)})`) Remove

            
  script(src='remove.js') 