doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Update User
  link(rel='stylesheet' href='Update.css')
.container0
  #clg_logo
    img(src='images/logo1.png' alt='logo')
  .first-rectangle
    h2(style='color: orange;') Kolhapur Institute of Technology&apos;s
    h2 College of Engineering (Autonomous) Kolhapur
  .action__btns#homeBtn
    a.login(href='adminHome') Home
.container
  .title Update Details
  .content
    form(method='post' action="updateUserData" id="form")
      .user-details
        .input-box
          span.details Name of Faculty 
          input(type='text' name='name' value= data.name required='')
        .input-box
          span.details Name of Department 
          select#inputGroupSelect01.custom-select(name='dept')
            option(selected=data.dept)  #{data.dept}
            option(value='Computer Science and Engineering') Computer Science and Engineering
            option(value='Electronics and Telecommunication Engineering') Electronics and Telecommunication Engineering
            option(value='Environmental Engineering') Environmental Engineering
            option(value='Mechanical Engineering') Mechanical Engineering
            option(value='Basic Science and Humanities') Basic Science and Humanities
            option(value='Biotechnology Engineering') Biotechnology Engineering
            option(value='Electrical Engineering') Electrical Engineering
            option(value='Civil Engineering') Civil Engineering
            option(value='Electronics Engineering') Electronics Engineering
            option(value='Library') Library
        .input-box
          span.details Employee Number 
          input(type='text' name='employeeNo' value=data.employeeNo  required='')
        .input-box
          span.details Email 
          input(type='text' name='email' value=data.email pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="Enter a valid email" required='')
        .input-box
          span.details Mobile Number
          input(type='text' name='phone' value=data.phone pattern="[789][0-9]{9}" required='')
        .input-box
          span.details User Name
          input(type='text' name='username' value=data.username required='')
        .input-box
          span.details Password
          input(type='text' name='password' value=data.password pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{4,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 4 characters" required='')
          input(type="hidden" name="_id" value=data._id)
          input(type="hidden" name="token" id="updateUserToken")
      .action__btns(align='center')
        button#submit(type="submit") Submit 

script(src="update.js") 